<!--app/views/home.ejs-->

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Pandvi</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body background = "http://www.sciencemag.org/sites/default/files/styles/article_main_large/public/images/sn-pandasH.jpg?itok=kFBLaJDz">
  <!--Navbar -->
  <nav class="navbar navbar-inverse navbar-static-top">
    <div class="container-fluid">
      <!-- navbar header -->
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Pandvi</a>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-1" aria-expanded="false">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <!-- end navbar header -->

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="navbar-1">
        <form class="navbar-form navbar-right">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Username">
          <input type="password" class="form-control" placeholder="Password">
        </div>
        <a href="/personal" class="btn btn-default">Submit</a>
        </form>

      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav><!-- end navbar -->

  <div class = "container jumbotron" style = "background: rgba(255, 255, 255, 0.5);">
    <h1>PandVi</h1>
    <p>Hello, PandVi is your personal dietary assistant, converstant in your nutritional needs!"</p>
    <p>You can talk directly to PandVi on your Amazon Echo, to keep track of calorie intake, and even have PandVi reccomend recipies!</p>
    <p>Log In as a patient or doctor to view data.</p>
  </div>





</body>
